body {
  font-family: Arial, sans-serif;
}
.bai3 {
  background-color: #3498db;
  color: black;
  padding: 20px;
  border: 5px solid #2980b9;
  margin: 20px;
  font-family: Arial, sans-serif;
}
.bai4 {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  background-color: #3498db;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 5px;
}

.bai5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #f0f0f0;
}
.column {
  background-color: #3498db;
  color: white;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
.bai6 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;

  width: 300px;
}
label {
  margin: 10px 0 5px;
  display: block;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.bai8 {
  font-family: Arial, sans-serif;

  background-color: #f4f4f4;
}
nav {
  background-color: black;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.content {
  text-align: center;
  padding: 20px;
}
h1 {
  margin: 20px 0;
}
